{% extends "base.html" %}
{% block head %}
<!-- Load d3 and britecharts -->
    <link rel="stylesheet" href="/static/css/britecharts.css">
    <script src="/static/js/d3.v4.min.js" charset="utf-8"></script>
    <script src="/static/js/britecharts.min.js" charset="utf-8"></script>
{% endblock head %}
{% block style %}{% endblock style %}
{% block lead %}
                <h1>{{response.app.page.title}}</h1>
                <p id="datestamp">Last updated <time>{{''|next_update('this')}}</time>, next update {{''|next_update('next')}}</p>

<div class="wrapper">
    <div id="numberbox" class="left">
        <p>
            <span id="number" class="">{{response.latest.value}},000</span>
            as of <time>{{response.latest.datestamp|date_raw|datetime('monthyear')}}</time>
           <span id="before">{{response.latest['% change']|updown}} from {{response.latest.previous_value}},000 the {{response.latest.unit_of_time}} before.</span>
        </p>
    </div>
    <p>
    The United States lost 8.7 million jobs after the 2007 financial crisis that produced the Great Recession.
    </p>
</div>
{% endblock lead %}
{% block content %}


<figure id='barContainer'></figure>
<script>
  var barChart = new britecharts.bar();
  var tooltip = new britecharts.miniTooltip();
  var dataset = [
      { value: 1, name: 'css' },
      { value: .22, name: 'html' },
      { value: .8, name: 'git' },
      { value: .5, name: 'js' }
  ];
  barChart
    .width(500)
    .height(300)
    .usePercentage(true)
    .colorSchema(britecharts.colors.colorSchemas.britechartsColorSchema)
    //.isAnimated(false)
    .on('customMouseOver', tooltip.show)
    .on('customMouseMove', tooltip.update)
    .on('customMouseOut', tooltip.hide);

var barContainer = d3.select('#barContainer');
barContainer.datum(dataset).call(barChart);

tooltipContainer = d3.select('.bar-chart .metadata-group');
tooltipContainer.datum([]).call(tooltip);
</script>


<section id="obama-record" class="obama">
    <h3>Obama's Record</h3>
    <p>{{response.index['Obama record revised']}}</p>
</section>
<section id="trump-quote" class="trump">
    <blockquote>{{response.index['Trump quote revised']}}</blockquote>
    <p>&mdash; {{response.index['Trump quote revised attribution']}}</p>
</section>
{#
{% for item in response.data if item.value != '' %}
<li>{{item}}</li>
{% endfor %}
#}
{{response.index}}


{% endblock content %}
