{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block content %}

    <section id="lead">
        {% with i = response.data[response.lead] %}
        <h2><a href="/detail/{{response.lead}}/">{{i['Indicator']}}</a></h2>
        {% endwith %}
    </section>
    <section id="below">
        <ul>
        {% for item in response.indicators %}
        {% with i = response.data[item] %}
            <li><a href="/detail/{{item}}/">{{i['Indicator']}}</a></li>
        {% endwith %}
        {% endfor %}
        </ul>
    </section>

{% endblock content %}
