body {
    margin:0;
    width: 100%;
} 

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
#datestamp { color: #999; }

@media only screen and (max-width: 768px) {
    /* Adjust the layout */
    body h1, body h2, body h3, body h4, body h5, body h6 { line-height: 1; }
    body h1 { 
        width: 100%!important; 
        font-size: 2em!important;
    }

    /* Fix line-height on breadcrumbs */
    #breadcrumbs {
        line-height: 14px; 
        margin-bottom: 10px;
    }
    /* Fix line-height on nav.app */
    nav.app ul {
        line-height: 0; 
        margin-bottom: 5px;
    }
    /* More line-height fixes */
    .stamp { margin-top: 10px; }

    /* We want bullets on list items on mobile to make lists more readable. */
    .row ul {
        list-style-type: disc;
        list-style-position: inside!important;
    }
}

footer p, #content-footer p { text-align: center; }
hr {
    width: 80%;
    margin: 8px auto;
}
.ad { margin-bottom: 10px; }
.row { margin-left: 0; }
nav.app ul li {
    display: inline;
}
nav.app ul li:after {
    content: " ᴥ ";
}
nav.app ul li:last-child:after {
    content: "";
}
.stamp, nav.app {
    font-family: Georgia, serif;
    font-style: italic;
    color: #aaa;
    text-align: center;
    width: 100%;
    line-height: 0.5;
}
.stamp span, nav.app ul span {
    display: inline-block;
    position: relative;  
}
.stamp span:before,
.stamp span:after,
nav.app ul:before,
nav.app ul:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    top: 0;
    width: 600px;
}
.stamp span:before,
nav.app ul:before {
    right: 100%;
    margin-right: 15px;
}
.stamp span:after,
nav.app ul:after {
    left: 100%;
    margin-left: 15px;
}

#content-footer nav.app ul:before,
#content-footer nav.app ul:after 
{
    border: 0px none;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: underline;
}
.hide { display:none; }

.center {
    text-align: center;
    margin: auto;
}

.norman {
    max-width: 1040px;
    margin: auto;
}
main {
    margin: auto;
}
article {
}
#lead {
    width: 100%;
    max-width: 100%;
    background-color: #333;
}
#lead > div {
    color: white;
    padding: 30px auto;
    padding: 30px 30px 30px 0;
}
#lead > div > div {
    margin-right: 350px;
}
.wrapper {
    padding-top: 50px;
}
#numberbox {
    margin-right: 20px;
}
#numberbox p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 280px;
    border-right: 1px solid white;
    line-height: 19px;
}
#numberbox p #number {
    font-size: 64px;
    display: block;
    padding-bottom: 25px;
}
#numberbox p #before {
    display: block;
}
#content {
    width: 65%;
    float: left;
}
#obama-record {
    background-color: #4594da;
    color: white;
    padding: 10px;
}
#obama-record h3 {
    margin: 5px 10px;
    padding: 0;
    width: 80px;
    float: left;
    border-right: 1px solid white;
}
#obama-record p {
    font-size: 14px;
}
#trump-quote {
    background-image: url('/static/img/donald-trump-face.gif');
    background-repeat: no-repeat;
    background-position: right 30px center;
    min-height: 170px;
    padding-top: 20px;
    margin-top: 20px;
}
#trump-quote blockquote {
    text-indent: 30px;
    height: 100px;
    padding-top: 20px;
    color: #f09b4a;
    line-height: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin: 20px 180px 20px 20px;
    background-image: url('/static/img/quote-left.gif');
    background-repeat: no-repeat;
}
#trump-quote blockquote > span {
}
#trump-quote blockquote > span:after {
    content: "”";
}
#trump-quote blockquote > span > span {
    color: #333;
}
aside#sidebar {
    width: 30%;
    float: right;
}
#sidebar .advertisement {
    margin-top: -200px;
    border: 2px solid red;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
    font-size: 37px;
    color: white;
}
li, p {
    font-family: 'PT Serif', serif;
    font-size: 17px;
    line-height: 30px;
}

#rh-subnav-wrap { display: none; }
#logo > figure {
    margin: 20px 0;
    background-image: url('/static/img/trumponomics-logo.gif');
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;
}

