gspread==0.2.5
httplib2==0.9.1
ipaddress==1.0.7
oauth2client==1.4.11
pyOpenSSL
pyasn1
pyasn1-modules
pycparser
Flask==0.10.1
Flask-FlatPages==0.6
Jinja2==2.8
Markdown==2.6.6
MarkupSafe==0.23
Werkzeug==0.11.5
six==1.9.0
slugify==0.0.1
wsgiref==0.1.2
appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.8.1
enum34==1.1.6
idna==2.5
ipaddress==1.0.7
itsdangerous==0.24
pyparsing==2.2.0
PyYAML==3.12
rsa==3.1.4
